

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0em;
  text-align: center;
  min-height: 100vh!important;
  width: 100vw!important;
/*   background-image: url('background.svg');
 */
}
.cytoscape-map div{
  display:flex
}